@import "tailwindcss";

/* React Slick CSS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

button {
  cursor: pointer;
}

/* Global Font Styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #c1c1c1 #f1f1f1;   /* Firefox track + thumb */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;        /* Thin scrollbar */
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}